:root {

  --spotlight: #61c06eff; /* --emerald */

  --background: #f7faf7ff; /* baby-powder */

  --contrast: #191d1aff;   /* dark-jungle-green; */

  --complementary: #fa7711ff;  /* safety-orange */

  --complementary-light: #f6b24b;

  --white: white;

  --font-primary: 'Roboto' , sans-serif;

  --font-title: 'Montserrat' , sans-serif;

}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

html, body, div, span, iframe, h1, h2, h3, p, a, img, ol, ul, li {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

fieldset, form, label, legend, aside, footer, header, menu, nav, section {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
aside, footer, header, menu, nav, section {
  display: block;
}

body {
  background: var(--background);
  font-family: var(--font-primary);

  /* background: #1b1612; */
  line-height: 1;
}

ol, ul {
  list-style: none;
}
