.doneRecipes__container {
  margin: 0 auto;
  max-width: 360px;
}

.doneRecipesCard__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
