.explore__Container {
  height: 100vh;
  margin: 0 auto;
  max-width: 360px;
}

.exploreLinks__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 80px auto;
}

.explore__links {
  background-color: var(--contrast);
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px #e1e6e1;
  color: var(--complementary);
  font-size: 1.25rem;
  padding: 20px;
  text-align: center;
  width: 80%;
}
