.recipes-in-progress-page {
  display: flex;
  flex-direction: column;
}

.recipes-in-progress-page > img {
  width: 100vw;
}

.overflow-card {
  align-items: center;
  background: var(--background);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  font-family: Dosis , sans-serif;
  height: 150px;
  justify-content: center;
  margin-top: -50px;
  padding: 0 10px;
  z-index: 9999;
}

.recipe__title {
  color: #eb9412;
  font-size: 36px;
  font-weight: 700;
  max-width: 190px;
  min-width: 100px;
}

.recipe-category {
  color: var(--complementary-light);
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
}

.interact__buttons {
  background: transparent;
  border: none;
  border-radius: 50%;
  height: 50px;
  margin-left: 15px;
  padding: 10px;
  width: 50px;
}

.interact__buttons img {
  object-fit: contain;
  width: 100%;
}

.recipes-in-progress-page > h3 {
  font-family: Ubuntu , sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 25px;
}

.ingredient-items-list {
  background: var(--spotlight);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  margin-left: 15px;
  max-width: 90%;
  padding: 10px 5px;
}

.ingredient-items-list label {
  color: var(--white);
  display: flex;
  font-family: Dosis , sans-serif;
  font-weight: 700;
  gap: 10px;
  padding: 5px;
  width: 100%;
}

.ingredient-items-list input {
  transform: rotate(0) scale(1.5);
  transition: all 0.4s;
}

.ingredient-items-list input:checked {
  opacity: 0.4;
  transform: rotate(360deg) scale(1.3);
}

.recipe-instructions {
  font-family: Ubuntu , sans-serif;
  font-size: 14px;
  margin-left: 15px;
  margin-top: 20px;
  width: 90%;
}

.finish-recipe__button {
  align-self: center;
  background: rgb(28, 230, 28);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Ubuntu , sans-serif;
  margin: 25px 0;
  padding: 10px;
  width: 50%;
}

.finish-recipe__button:disabled {
  opacity: 0.5;
}
