.footerStyle {
  align-items: center;
  background: #ccc;
  margin: 0% -180px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  bottom: 0%;
  left: 50%;
  position: fixed;
  padding: 20px;
}
