.footerStyle {
  align-items: center;
  background: var(--background);
  bottom: 0%;
  color: var(--contrast);
  display: flex;
  justify-content: space-between;
  left: 50%;
  margin: 0% -180px;
  padding: 10px;
  position: fixed;
  width: 360px;
}
