.header {
  align-items: center;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 360px;
  padding: 10px;
}

.header > div {
  margin: 0;
  padding: 0;
}

.header__title {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.header__button {
  background: transparent;
  border: none;
}

/* Quebra a acessibilidade do botão */

/* .header__button:focus, .header__button:active {
  outline: none;
} */
