.ingredientCard__container {
  background: var(--white);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px #e1e6e1;
  width: 162px;
}

.ingredientCard__img {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  width: 100%;
}

.ingredientCard__title__container {
  background-color: var(--contrast);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

.ingredientCard__title {
  color: var(--complementary);
  font-size: 1em;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
