.notFound_page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.notFound_page img {
  margin-bottom: 25px;
  object-fit: contain;
  width: 240px;
}

.notFound_page p {
  font-size: 24px;
}
