/* .mealsCards__container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  margin: 10px auto;
  max-height: calc(100vh - (52px + 60px + 25px + 32px));
  max-width: 360px;
  overflow-y: scroll;
} */

.recipeCard__img {
  max-width: 162px;
}

.recipeCard__title {
  margin-bottom: 0;
  text-align: center;
}
